<%- layout('layouts/main') %>


<div class="container">

  <div class="row">
    
    <!-- LIST -->
    <div class="col-md-11">
      <table class="table bg-dark table-bordered table-hover table-dark">
        <thead class="thead-dark">
          <tr>
            <th>N°</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Operations</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < products.length; i++) { %>
            <tr>
              <td><%= i + 1%></td>
              <td><strong><%= products[i].name %></strong></td>
              <td><%= products[i].description %></td>
              <td>$<%= products[i].price %></td>
              <td>
                <a href="/editproduct/<%= products[i]._id %>" class="btn btn-info">
                    Edit
                  </a>
                <a href="/deleteproduct/<%= products[i]._id %>"
                  class="btn btn-danger">
                  Delete
                </a>              
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>

    </div>

    <!-- BUTTON -->
    <div class="col-md-1">
      <a class="btn btn-primary" href="/newproduct" role="button">New product</a>
    </div>
  </div>

</div>

